{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Jquery Library: -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!-- Google Map API: -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg92lnF1sVdbqNS4ERbLtVpFwfyxm4vfs&callback=initMap&libraries=&v=weekly"
        defer></script>
    <!-- Google Fonts: -->
    <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Local Files: -->
    <script src="{% static 'includes/js/scripts.js'%}"></script>
    <link rel="stylesheet" href="{% static 'includes/css/style.css'%}">
    <title>Nativ+ Trip List</title>
</head>

<body class="DriverList">
    <header>
        <button class="hamburger"></button>
        <a href="{% url 'home' %}" id="logo"></a>
        <section class="user">
            <h4> Good Morning <br> {{ user }} </h4>
            <section>
                <a href="#"> </a>
            </section>
        </section>
    </header>
    <nav>
        <ul>
            <li><a href="#"><img src="{% static 'includes/images/Planned.png'%}"
                        alt="Planned">Planned</a></li>
            <li><a href="#"><img src="{% static 'includes/images/History.png'%}"
                        alt="History">History</a></li>
            <li><a href="#"><img src="{% static 'includes/images/Favorites.png'%}" alt="Favorites">Favorites</a></li>
            <li><a href="#"><img src="{% static 'includes/images/Settings.png'%}" alt="Settings">Settings</a></li>
            <li><a href="#"><img src="{% static 'includes/images/Feedback.png'%}" alt="Feedback">Feedback</a></li>
            <li><a href="{% url 'logout' %}"><img src="{% static 'includes/images/Logout.png'%}" alt="Logout">Logout</a>
            </li>
        </ul>
    </nav>
    <main>
        <div id="map"></div>
        <section class="box_gray_DriverList">
            <div class="title">
                <a href="{% url 'newtrip' %}" class="back">
                    <img src="{% static 'includes/images/Back.png'%}">
                </a>
                <h3>Drivers</h3>
                <button class="filter">
                    <img src="{% static 'includes/images/Filter.png'%}">
                </button>
            </div>
            <div class="list">
                {% for i in trips %}
                <div class="card"> <a href="{% url 'tripinfo_with_PK' pk=i.pk  %}">
                        <img src="{% static 'includes/images/Person.png'%}" alt="User" class="Photo">
                        <section class="personalInfo">
                            <h4>{{ i.driver.username }}&nbsp;&nbsp;<span>{{ i.age }}</span></h4>
                            <section class="prefs">
                                <img src="{% static 'includes/images/Sound.png'%}" alt="Sound" class="music">
                                <img src="{% static 'includes/images/Pet.png'%}" alt="Pet" class="pet">
                                <img src="{% static 'includes/images/Cigarette.png'%}" alt="Cigarette" class="smoke">
                            </section>
                        </section>
                        <section class="tripInfo">
                            <span><img src="{% static 'includes/images/Time.png'%}" alt="Time"
                                    class="time">{{ i.time }}</span>
                            <span><img src="{% static 'includes/images/NavigationLocation.png'%}" alt="Location"
                                    class="location">{{ i.Destination }}</span>
                            <span><img src="{% static 'includes/images/Favorites.png'%}" alt="Rating"
                                    class="rating">{{ i.rating }} </span>
                        </section>
                    </a>
                </div>
                {% endfor %}
            </div>
            </div>
            <a href="{% url 'newtrip' %}" class="create_trip">Create Trip</a>
            <div class="search">
                <input type="search" placeholder="Search">
            </div>
        </section>
    </main>
</body>

</html>